# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ITI Python\Scrapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
